.brands-wrapper {
    padding-top: 200px;
}

.brands-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 60px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
    }
}

.brands-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}